body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.offer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    width: 300px;
    height: 200px;
    padding-left: 10px;

    background-color: var(--off-color);
    box-shadow: var(--shadow);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.offer > h5 {
    font-weight: 500;
}

.offer > small {
    font-weight: 300;
}

.offer-buttons {
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: right;
}

.offer-button{
    font-weight: 500;
    font-size: 16px;
    height: 40px;
    border: none;
    background-color: transparent;
    margin-right: 10px;
}

#offer-participate-button {
    border-radius: 10px;
    background-color: var(--accent);
    color: white;
    width: 130px;
}

#offer-participate-button:hover {
    background-color: var(--darker-accent);
}

#offer-participate-button:active {
    background-color: var(--lighter-accent);
}


/* PROGRESS BAR */

.offer-progress {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%;
    height: 20px;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background-color: var(--off-color);
    overflow: hidden; 
}

.offer-progress::-webkit-progress-bar {
    background-color: var(--off-color);
}

.offer-progress::-webkit-progress-value {
    background-color: var(--accent);
}

.offer-progress::-moz-progress-bar {
    background-color: var(--accent);
}