* {
    margin: 0;
    padding: 0;
}

header {
    position: relative;
    z-index: 1;
    background: var(--transparent-back);
}

.container {
    align-items: center;
    display: flex;
    height: 90vh;
    position: relative;
    z-index: 1;
}

/* FORM */

.form-container {
    background-color: var(--transparent-back);
    box-shadow: var(--shadow);

    border-radius: 10px;
    width: 500px;
    margin: auto;

    display: flex;
    flex-direction: column;
    text-align: center;
}

#register-form{
    width: 100%;
}

.form-container > h2 {
    margin-top: 20px;
    color: var(--transparent-text);
}

.form-container > p {
    font-weight: 300;
    color: grey;
    margin-bottom: 20px;
}


input:not([type="submit"]) {
    border-radius: 5px;
    border: none;
    height: 30px;
    background-color: rgba(92, 92, 92, 0.2);
    padding-left: 10px;
    width: 200px;

    margin-bottom: 10px;
}

#email-input {
    width: 415px;
}

input:focus {
    border: none;
}

/* SUBMIT BUTOON */

#submit-button {
    font-size: 16px;
    font-weight: 500;
    color: white;
    cursor: pointer;
    background-color: var(--accent);

    border: none;
    border-radius: 10px;

    width: 130px;
    height: 40px;
    margin-bottom: 20px;
}

#submit-button:hover {
    background-color: var(--darker-accent);
}

#submit-button:active {
    background-color: var(--lighter-accent);
}