* {
    margin: 0;
    padding: 0;
}

li, a ,button {
    color: black;;
}

header {
    height: 10vh;
}

.inner-header {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.logo-header, .logo-accent {
    font-weight: 500;
    font-size: 300%;
}

.logo-accent {
    color: var(--accent);
}

.nav-link {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.nav-link > li {
    margin-right: 20px;
}

.nav-link > li:last-child {
    margin-right: 0;
}

#regis-button, #login-button {
    background-color: transparent;
    font-size: 120%;
    border: none;
    border-radius: 10px;
    padding: 5px 20px 5px 20px;
}

#regis-button {
    background-color: var(--accent);
}

#regis-button > a {
    color: white;
}